<!doctype html> 
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
   <head> 
      <!-- Required meta tags -->
      <meta charset="utf-8"> 
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
      <!-- Bootstrap CSS --> 
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
      <title>Welocome </title> 
   </head> 
   <body > 
      
      <div align="center">
      <h1>Welcome User</h1> 
      	<p><br>
<!-- 		<a th:href="@{/logout}"><input type="submit" ></a></p>-->
           <a th:href="@{/logout}"> <button type="submit" value="logout"> Logout</button></a></p>
		</div>

   </body> 
</html>